[Unit]
Description=Media Downloader Service

[Service]
Type=simple
ExecStart={{PATH_TO_APP}}/.venv/bin/python .
Environment="PATH={{PATH_TO_APP}}/bin"
WorkingDirectory={{PATH_TO_APP}}
Restart=on-failure

[Install]
WantedBy=default.target